{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="bg-white p-4 p-lg-5 my-lg-5">
                <h3 class="text-center mb-4">Cambio de Contraseña</h3>

                {% if validlink %}
                    <p class="text-muted text-center  small mb-4">Por favor ingresa y confirma tu nueva contraseña.</p>
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}

                        <div class="form-group">
                            <label class="ml-4 p-1" for="{{ form.new_password1.id_for_label }}">Nueva Contraseña:</label>
                             {{ form.new_password1 }}
                        </div>

                        <div class="form-group">
                            <label for="{{ form.new_password2.id_for_label }}">Confirmar Contraseña:</label>
                            {{ form.new_password2 }}
                        </div>

                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Cambiar mi contraseña"/>
                        </div>
                    </form>
                {% else %}
                    <h1 class="text-center">Falló el restablecimiento de contraseña</h1>
                    <p class="text-center">El enlace para restablecer la contraseña no es válido, posiblemente porque ya ha sido utilizado. Por favor solicita un nuevo restablecimiento de contraseña.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
