{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="bg-white p-4 p-lg-5 my-lg-5 text-center">
                <h1 class="mb-4">Restablecimiento de Contraseña Completado</h1>
                <h1 class="mb-4">¡La contraseña ha sido cambiada!</h1>
                <p><a href="{% url 'userauths:sign-in' %}" class="btn btn-primary">Iniciar sesión nuevamente</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
