{% extends 'base.html' %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="bg-white p-4 p-lg-5 my-lg-5 text-center">
                <h1 class="mb-4">Correo de Confirmación Enviado</h1>
                <p class="text-muted">Te hemos enviado instrucciones por correo electrónico para establecer tu contraseña. Si no las recibes en unos minutos, por favor revisa tu carpeta de spam.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
